html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100%;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

            .modal-body {
                max-height: calc(100vh - 100px);
                overflow-y: auto;
            }
            .navbar-form .form-control {
                    border-radius: 8px;
            }
            .default-content {
                min-height: 570px;
            }
            .form-group.has-error .dropdown-toggle {
                border-color: #dd4b39;
            }
            .stylish-input-group .input-group-addon{
                background: white !important; 
                    border-radius: 4px 25px 25px 4px;
            }
            .stylish-input-group .form-control{
                border-right:0; 
                box-shadow:0 0 0; 
                border-color:#ccc;
                    border-radius: 25px 4px 4px 25px;
            }
            .stylish-input-group button{
                border:0;
                background:transparent;
            }
            .nav-tabs-custom > .tab-content {
                min-height: 250px;
            }
            .profile-username {
                margin-left: 23px;
            }
            .fade-enter-active, .fade-leave-active {
                transition: opacity .7s
            }
            .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
                opacity: 0
            }